<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	     <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger App with MVC</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/js/cats.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>

	{{!-- <hr>

	<footer class="center footer">
        <div class="container">
          <p> copyright © Eat-Da-Burger App 2018</p>
        </div>
	</footer> --}}

</html>
